@namespace New_folder.Pages.User
@layout UserLayout
@page "/user/login"

<div class="main__b__0">
    <div class="login">
        <Form Model="@_model" OnFinish="HandleSubmit">
            <Tabs ActiveKey="@context.LoginType">
                <TabPane Key="1" Tab="Inicio de sesión de cuenta">
                    <FormItem>
                        <AntDesign.Input Placeholder="Nombre de usuario: " Size="large" @bind-Value="@context.UserName">
                            <Prefix><Icon Type="user" /></Prefix>
                        </AntDesign.Input>
                    </FormItem>
                    <FormItem>
                        <AntDesign.Input Placeholder="Contraseña: " Size="large" @bind-Value="@context.Password" Type="password">
                            <Prefix><Icon Type="lock" /></Prefix>
                        </AntDesign.Input>
                    </FormItem>
                </TabPane>
                <TabPane Key="2" Tab="Inicio de sesión móvil">
                    <FormItem>
                        <AntDesign.Input Placeholder="Número de teléfono" Size="large" @bind-Value="@context.Mobile">
                            <Prefix><Icon Type="mobile" /></Prefix>
                        </AntDesign.Input>
                    </FormItem>
                    <FormItem>
                        <Row Gutter="8">
                            <AntDesign.Col Span="16">
                                <AntDesign.Input Placeholder="Código de verificación" Size="large" @bind-Value="@context.Captcha">
                                    <Prefix><Icon Type="mail" /></Prefix>
                                </AntDesign.Input>
                            </AntDesign.Col>
                            <AntDesign.Col Span="8">
                                <Button Size="large" Block OnClick="GetCaptcha">Verificar</Button>
                            </AntDesign.Col>
                        </Row>
                    </FormItem>
                </TabPane>
            </Tabs>
            <div>
                <Checkbox Checked="@context.AutoLogin">
                    Inicio de sesión automático
                </Checkbox>
                <a style="float: right;">
                    ¿Olvidaste la contraseña?
                </a>
            </div>
            <Button Type="primary" HtmlType="submit" Class="submit" Size="large" Block>Iniciar sesión</Button>
            <div class="otros">
                Otros métodos de inicio de sesión
                <Icon Class="icono" Type="alipay-circle" />
                <Icon Class="icono" Type="taobao-circle" />
                <Icon Class="icono" Type="weibo-circle" />
                <a class="register" href="/user/register">Registrar cuenta</a>
            </div>
        </Form>
    </div>
</div>
