@namespace New_folder.Pages.User
@layout UserLayout
@page "/user/register"

<div class="main__b__1">
    <div class="registro">
        <h3>Registro</h3>
        <Form Model="@_user">
            <FormItem>
                <Input Placeholder="Correo electrónico" @bind-Value="@context.UserName" Size="@InputSize.Large"></Input>
            </FormItem>

            <FormItem>
                <Input Placeholder="Contraseña de al menos 6 dígitos, sensible a mayúsculas y minúsculas" @bind-Value="@context.Password" Size="@InputSize.Large" Type="password"></Input>
            </FormItem>

            <FormItem>
                <Input Placeholder="Confirmar contraseña" @bind-Value="@context.ConfirmPassword" Size="@InputSize.Large" Type="password"></Input>
            </FormItem>

            <FormItem>
                <InputGroup Compact Size="@InputSize.Large" Style="display: table">
                    <Select TItem="string"
                            TItemValue="string"
                            DefaultValue=@("+86")
                            Style="width: 25%"
                            Size="large">
                        <SelectOptions>
                            <SelectOption TItem="string" TItemValue="string" Value="@("+86")" Label="+86" />
                            <SelectOption TItem="string" TItemValue="string" Value="@("+87")" Label="+87" />
                        </SelectOptions>
                    </Select>
                    <AntDesign.Input Placeholder="Número de teléfono" Style="width: 75%;" @bind-Value="@context.Phone"></AntDesign.Input>
                </InputGroup>
            </FormItem>

            <FormItem>
                <FormItem>
                    <Row Gutter="8">
                        <AntDesign.Col Span="16">
                            <AntDesign.Input Placeholder="Código de verificación" @bind-Value="@context.Captcha" Size="@InputSize.Large"></AntDesign.Input>
                        </AntDesign.Col>
                        <AntDesign.Col Span="8">
                            <Button Size="large" Block>Obtener código</Button>
                        </AntDesign.Col>
                    </Row>
                </FormItem>
            </FormItem>

            <FormItem>
                <Button Type="primary" Size="large" OnClick="Reg" class="submit">Registrarse</Button>
                <a class="login" href="/usuario/iniciar-sesion">Iniciar sesión con una cuenta existente</a>
            </FormItem>
        </Form>
    </div>
</div>
