@namespace New_folder.Components
@inherits AntDomComponentBase

<Space Class="@ClassMapper.Class" Size="@("24")">
    <SpaceItem>
        <HeaderSearch Class="action search"
                      Placeholder="Búsqueda en el sitio"
                      DefaultValue="umi ui"
                      Options="DefaultOptions" />
    </SpaceItem>
    <SpaceItem>
        <AntDesign.Tooltip Title="@("Ayuda")" Placement="@Placement.Bottom">
            <Unbound>
                <span @ref="@context.Current" class="action">
                    <Icon Type="question-circle" Theme="outline" />
                </span>
            </Unbound>
        </AntDesign.Tooltip>
    </SpaceItem>
    <SpaceItem>
        <NoticeIcon ClearText="Vacío"
                    ViewMoreText="ver más"
                    Count="_count"
                    OnClear="HandleClear"
                    OnViewMore="HandleViewMore">
            <NoticeList TabKey="notificación"
                        Title="Notificaciones"
                        EmptyText="Has visto todas las notificaciones"
                        ShowViewMore
                        Data="_notifications" />
            <NoticeList TabKey="mensaje"
                        Title="Mensajes"
                        EmptyText="Has leído todos los mensajes"
                        ShowViewMore
                        Data="_messages" />
            <NoticeList TabKey="evento"
                        Title="Próximos eventos"
                        EmptyText="Has completado todas las tareas pendientes"
                        ShowViewMore
                        Data="_events" />
        </NoticeIcon>
    </SpaceItem>
    <SpaceItem>
        <AvatarDropdown Name="@_currentUser.Name"
                        Avatar="@_currentUser.Avatar"
                        MenuItems="@AvatarMenuItems"
                        OnItemSelected="HandleSelectUser" />
    </SpaceItem>
    <SpaceItem>
        <SelectLang OnItemSelected="HandleSelectLang" />
    </SpaceItem>
</Space>
